.search-results-cards-wrapper {
    display: grid;
    gap: 15px;
    grid-template-columns: auto auto auto;

    .content-card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        border-radius: 5px;
        width: 100%;

        .card-image-wrapper {
            height: 150px;
            width: 100%;
            border-radius: 5px 5px 0 0;
            overflow: hidden;
            display: flex;
            align-items: center;

            img {
                width: 100%;
                filter: brightness(70%);
            }
        }
    }

    .card-top {
        position: relative;
    }

    .card-tags {
        position: absolute;
        bottom: 20px;
        left: 25px;

        span {
            color: #444;
            font-weight: 500;
            font-size: 13px;
            background: $white;
            border-radius: 15px;
            padding: 5px 10px;
            margin-right: 5px;
        }
    }

    .card-bottom {
        padding: 15px 30px;
        background-color: $white;

        .card-title {
            color: $text-dark;
            font-size: 18px;
            font-weight: 700;
            line-height: 25px;
            position: relative;
            padding-bottom: 30px;
        }

        .card-title:after {
            content: "";
            height: 3px;
            background-color: $primary-blue;
            width: 30px;
            position: absolute;
            bottom: 15px;
            left: 0;
        }

        .card-description {
            color: $text-dark;
            font-size: 13px;
            letter-spacing: 0;
            line-height: 25px;
        }

        .card-details {
            margin-top: 10px;

            span {
                color: #808080;
                font-size: 13px;
                letter-spacing: 0;
                line-height: 30px;
                padding: 0 10px;
                border-right: #f0f0f0 1px solid;
            }

            span:first-of-type {
                padding-left: 0;
            }

            span:last-of-type {
                border-right: 0;
            }
        }
    }
}
