// Colors
$primary-blue: #008CC8;
$dark-blue: #0050A0;
$light-gray: #f1f3f5;
$border-gray: #d8d8d8;
$text-gray: #888888;
$text-dark: #3B3A4C;
$line-gray: #E3E7EB;
$white: #fff;

// Font
$font-family: 'Mulish', sans-serif;

// Breakpoints
$breakpoint-tablet: 1000px;
$breakpoint-mobile: 600px;
